@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
  --clr-black-hsl: 0, 0%, 8%;
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  display: inline-block;
}

body {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Epilogue", sans-serif;
  line-height: 1.3;
}

/*----------- mobile ----------- */
header {
  width: 100%;
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 75px;
}

.hamburger {
  z-index: 2;
  cursor: pointer;
  display: block;
  width: 35px;
  position: fixed;
  top: 1.3rem;
  right: 1rem;
  background: none;
  outline: none;
  border: none;
}
.hamburger .bar, .hamburger:before, .hamburger:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 6px 0px;
  transition: 0.4s;
}

body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: hsla(var(--clr-black-hsl), 0.6);
  transition: all 0.3s linear;
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 80vw;
  transform: translateX(100%);
  background-color: var(--white);
  transition: 0.4s;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15% 5%;
}
nav a {
  color: var(--gray);
  text-decoration: none;
}
nav .authentication {
  display: flex;
  flex-direction: column;
}
nav .authentication button {
  color: var(--gray);
  background: transparent;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border: 0.1rem solid var(--gray);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
nav .authentication button:hover {
  color: var(--black);
  border: 0.1rem solid var(--black);
  transform: translateY(-1px);
}
nav .authentication button:active {
  transform: scale(1.2);
}
nav .authentication :first-child {
  border: none;
}
nav .authentication :first-child:hover {
  border: none;
}

.nav-link {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}
.nav-link * a {
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: block;
  transition: all 0.3s ease-in;
}
.nav-link > a:hover {
  background: hsla(0, 0%, 88%, 0.5);
}
.nav-link .dropdown .arrow-up {
  display: none;
}
.nav-link a.link-open .arrow-up {
  display: initial;
}
.nav-link a.link-open .arrow-down {
  display: none;
}
.nav-link .dropdown-list {
  padding: 0.5rem 1.5rem;
  overflow-y: hidden;
  display: none;
}
.nav-link .open {
  display: block;
}
.nav-link .dropdown-list .dropdown-link a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
}
.nav-link .dropdown-link a:hover {
  background: hsla(0, 0%, 78%, 0.5);
}

body.active nav {
  transform: translateX(0);
}
body.active .overlay {
  opacity: 1;
}
body.active .hamburger .bar {
  opacity: 0;
}
body.active .hamburger:before {
  transform: rotate(-45deg) translate(-5px, 6px);
}
body.active .hamburger:after {
  transform: rotate(45deg) translate(-6px, -8px);
}

main {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1.5rem;
}
main img {
  max-height: 50vh;
  width: 100%;
}
main .text-content {
  align-items: center;
  text-align: center;
  padding: 1rem;
}
main .text-content h1 {
  color: var(--black);
  font-size: 3rem;
  margin-bottom: 1rem;
}
main .text-content p {
  color: var(--gray);
}
main .text-content button {
  color: var(--white);
  background: var(--black);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  margin: 1.5rem 0;
  border: 1px solid var(--black);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s all linear;
}
main .text-content button:hover {
  color: var(--black);
  background: transparent;
}
main .text-content .clients {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem 0;
}
main .text-content .clients img {
  max-width: 69px;
}

/* ----------- desktop --------------*/
@media (min-width: 850px) {
  body {
    background: var(--white);
  }
  body .overlay {
    display: none;
    opacity: 0;
  }
  header {
    justify-content: center;
    padding: 1.5rem 3rem;
  }
  header .logo {
    margin-top: 0.5rem;
    min-width: 100%;
  }
  header .hamburger {
    display: none;
  }
  nav {
    padding: 0;
    max-width: 80%;
    max-height: 10vh;
    flex-direction: row;
    position: initial;
    background: transparent;
    margin: 0 2rem;
    flex: 3;
    align-items: center;
    justify-content: space-between;
    transform: translate(0%);
  }
  nav ul {
    display: flex;
    flex: 3;
    margin-top: 0;
  }
  nav .nav-link {
    text-align: right;
    margin: 0 1rem;
    position: relative;
    transition: 0.5s all linear;
  }
  nav .nav-link a {
    padding: 0;
  }
  nav .nav-link:hover {
    transform: translateY(-1px);
  }
  nav .nav-link:hover a {
    color: var(--black);
    background: transparent;
  }
  nav .nav-link .dropdown-list {
    position: absolute;
    background: white;
    right: -2rem;
    top: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem hsla(0, 0%, 41%, 0.6);
  }
  nav .nav-link .dropdown-list .dropdown-link {
    width: auto;
    text-align: left;
    white-space: nowrap;
    margin: 0;
  }
  nav .authentication {
    flex-direction: row;
  }
  main {
    grid-template-columns: 1fr 1fr;
    margin: 0 6rem;
    margin-bottom: 2.5rem;
  }
  main > * {
    height: auto;
    margin: 0 2rem;
  }
  main picture {
    order: 2;
  }
  main picture img {
    max-height: 100%;
  }
  main .text-content {
    order: 1;
    text-align: left;
  }
  main .text-content h1 {
    font-size: 4.5rem;
    font-weight: 800;
  }
  main .text-content > *, main .text-content button, main .text-content .clients {
    margin-top: 4rem;
  }
  main .text-content .clients {
    align-self: baseline;
  }
  main .text-content .clients img {
    max-width: 80px;
  }
}/*# sourceMappingURL=style.css.map */